/* formula */


/* 
html,
body {
	border: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

blockquote::before,
blockquote::after {
	content: "";
} */


/* -------------------------------------------------------------------------- */


/*	1. Document Setup
/* -------------------------------------------------------------------------- */


/* Lists ------------------------------------- */

/* ul,
ol {
    margin: 0 0 3rem 3rem;
} */

ul {
    list-style: disc;
}

ul ul {
    list-style: circle;
}

ul ul ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

ol ol {
    list-style: lower-alpha;
}

ol ol ol {
    list-style: lower-roman;
}


/* li {
	line-height: 1.5;
	margin: 0.5rem 0 0 2rem;
} */

/* li>ul,
li>ol {
    margin: 1rem 0 0 2rem;
}
 */
.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
    list-style: none;
    margin: 0;
}

.reset-list-style li {
    margin: 0;
}

dt,
dd {
    line-height: 1.5;
}

dt {
    font-weight: 700;
}

dt+dd {
    margin-top: 0.5rem;
}

dd+dt {
    margin-top: 1.5rem;
}


/* Quotes ------------------------------------ */


/* Code -------------------------------------- */


/* Media ------------------------------------- */


/* GALLERIES */


/* Inputs ------------------------------------ */


/* Tables ------------------------------------ */


/* -------------------------------------------------------------------------- */


/*	3. Helper Classes
/* -------------------------------------------------------------------------- */


/* Layout ------------------------------------ */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.screen-height {
    min-height: 100vh;
}

.admin-bar .screen-height {
    min-height: calc(100vh - 32px);
}

@media (max-width: 782px) {
    .admin-bar .screen-height {
        min-height: calc(100vh - 46px);
    }
}

.screen-width {
    position: relative;
    left: calc(50% - 50vw);
    width: 100vw;
}


/* Sections ---------------------------------- */


/* section {
	padding: 5rem 0;
	width: 100%;
} */


/* Toggles ----------------------------------- */

.toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: inherit;
    user-select: none;
}

button.toggle {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: inherit;
    padding: 0;
    text-transform: none;
}

.search-toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e4e4e42b;
    width: 1px;
    height: 100%;
}

.modal-menu button.toggle svg {
    width: 15px;
}


/* Hiding and Showing ------------------------ */

.js .show-js {
    display: block !important;
}

.js .hide-js {
    display: none !important;
}

.no-js .show-no-js {
    display: block !important;
}

.no-js .hide-no-js {
    display: none !important;
}


/* Typography -------------------------------- */


/* Colors ------------------------------------ */


/* FILL COLOR */

.fill-children-accent,
.fill-children-accent * {
    fill: #cd2653;
}

.fill-children-current-color,
.fill-children-current-color * {
    fill: currentColor;
}


/* Opacity ----------------------------------- */


/* Image Classes ----------------------------- */


/* Search Form ------------------------------- */


/* Social Icons ------------------------------ */


/* Cover Modals ------------------------------ */

.cover-modal {
    display: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.cover-modal::-webkit-scrollbar {
    display: none !important;
}

.cover-modal.show-modal {
    display: block;
    cursor: pointer;
}

.cover-modal.show-modal>* {
    cursor: default;
}


/* -------------------------------------------------------------------------- */


/*	4.	Site Header
/* -------------------------------------------------------------------------- */


/* Topbar ----------------------------- */
/*.admin-bar-padding {
    top: 32px;
}*/

.admin-bar-sticky-padding {
    top: -128px !important;
}

@media (max-width: 768px) {
    .admin-bar-sticky-padding {
        top: -160px !important;
    }
}

/* Header Titles ----------------------------- */

.header-titles-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}

body:not(.enable-search-modal) .header-titles-wrapper {
    justify-content: flex-start;
    padding-left: 0;
    text-align: left;
}

.site-title,
.site-logo,
.site-description {
    margin: 0;
}

.site-title {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
}

.menu-modal .site-title {
    padding-top: 30px;
    padding-left: 15px;
}

.site-title a {
    color: var(--thm-gray);
    display: block;
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: none;
    color: var(--thm-primary);
}
.site-title a:focus {
    text-decoration: underline;
    color: var(--thm-primary);
}


/*.site-description {
    margin-top: 1rem;
    color: #6d6d6d;
    font-size: 1.8rem;
    font-weight: 500;
    display: none;
    letter-spacing: -0.0311em;
    transition: all 0.15s linear;
}*/

.site-logo a,
.site-logo img {
    display: block;
}

.header-titles .site-logo .site-logo {
    margin: 0;
}

.site-logo img {
    /* max-height: 6rem; */
    margin: 0 auto;
    width: auto;
}

body:not(.enable-search-modal) .site-logo img {
    margin: 0;
}

@media (max-width: 768px) {
    .site-title {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1;
    }
    
}


/* Overlay Header ---------------------------- */

.overlay-header #site-header {
    background: transparent;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.overlay-header .header-inner {
    color: #fff;
}

.overlay-header .site-description,
.overlay-header .toggle {
    color: inherit;
}

.overlay-header .header-inner .toggle-wrapper::before {
    background-color: currentColor;
    opacity: 0.25;
}

.admin-bar.overlay-header #site-header {
    top: 32px;
}

@media (max-width: 782px) {
    .admin-bar.overlay-header #site-header {
        top: 46px;
    }
}


/* Header Navigation ------------------------- */

.header-navigation-wrapper {
    display: none;
}


/* Header Toggles ---------------------------- */

.header-toggles {
    display: none;
}

.header-inner .toggle {
    align-items: center;
    display: flex;
    overflow: visible;
    /*padding: 0 2rem;*/
}

.header-inner .toggle svg {
    display: block;
    position: relative;
    z-index: 1;
}

.header-inner .toggle path {
    fill: currentColor;
}

.toggle-inner {
    display: flex;
    justify-content: center;
    position: relative;
}

.toggle-icon {
    display: block;
    overflow: hidden;
}

.toggle-inner .toggle-text {
    color: #6d6d6d;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: calc(100% + 0.5rem);
    width: auto;
    white-space: nowrap;
    word-break: break-all;
}

.overlay-header .toggle-text {
    color: inherit;
}

.header-inner .toggle:focus .toggle-text,
.header-inner .toggle:hover .toggle-text {
    text-decoration: underline;
}


/* Search Toggle ----------------------------- */


/*.search-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}*/

.search-toggle .toggle-icon,
.search-toggle svg {
    height: 2.5rem;
    max-width: 2.3rem;
    width: 2.3rem;
}


/* Navigation Toggle ------------------------- */

.nav-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 6.6rem;
}

.nav-toggle .toggle-icon,
.nav-toggle svg {
    height: 0.8rem;
    width: 2.6rem;
}

.nav-toggle .toggle-inner {
    padding-top: 0.8rem;
}


.opened-menu:focus {
    outline: none;
}
.opened-menu:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}


/* Primary Menu ---------------------------- */

.primary-menu-wrapper {
    display: none;
}

ul.primary-menu {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.0277em;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 15px;
}

.primary-menu .icon {
    display: block;
    height: 0.3rem;
    position: absolute;
    pointer-events: none;
    transform: rotate(-45deg);
    width: 1.3rem;
}

.primary-menu .sub-menu .icon {
	transform: rotate(-135deg);
}

.primary-menu .icon::before,
.primary-menu .icon::after {
    content: "";
    display: block;
    background-color: currentColor;
    position: absolute;
    bottom: calc(50% - 0.1rem);
    left: 0;
}

.primary-menu .icon::before {
    height: 8px;
    width: 2px;
}

.primary-menu .icon::after {
    height: 2px;
    width: 8px;
}

.primary-menu li {
    position: relative;
}

.primary-menu>li {
    margin: 0.8rem 0 0 1.6rem;
}

.primary-menu>li.menu-item-has-children>a {
    padding-right: 1rem;
}

.primary-menu>li>.icon {
    right: -0.6rem;
    top: calc(50% - 0.4rem);
}

.primary-menu a {
    color: inherit;
    display: block;
    line-height: 1.2;
    text-decoration: none;
    word-break: normal;
    word-wrap: normal;
}

.primary-menu a:hover,
.primary-menu a:focus,
.primary-menu .current_page_ancestor {
    /* text-decoration: underline;*/
    color: var(--thm-base);
}

.primary-menu li.current-menu-item>a,
.primary-menu li.current-menu-item>.link-icon-wrapper>a {
    /*text-decoration: underline;*/
    color: var(--thm-base) !important;
   /*  background-color: var(--thm-primary); */
}

.sub-menu li.current-menu-item>a {
    background-color: var(--thm-primary); 
}

.sub-menu>.current-menu-item>a,
.sub-menu>.current-menu-item>.link-icon-wrapper>a {
	color: var(--thm-base) !important;
	background-color: var(--thm-primary) !important;
}

.primary-menu li.current-menu-item>a:hover,
.primary-menu li.current-menu-item>.link-icon-wrapper>a:hover,
.primary-menu li.current-menu-item>a:focus,
.primary-menu li.current-menu-item>.link-icon-wrapper>a:focus {
    text-decoration: none;
}


/* SUB MENU */

.primary-menu ul {
    background: #000;
    color: #fff;
    font-size: 1.7rem;
    opacity: 0;
    padding: 1rem 0;
    position: absolute;
    right: 9999rem;
    top: calc(100% + 2rem);
    transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
    transform: translateY(0.6rem);
    z-index: 1;
}


.primary-menu li.menu-item-has-children:hover>ul,
.primary-menu li.menu-item-has-children:focus>ul,
.primary-menu li.menu-item-has-children.focus>ul {
    right: 0;
    opacity: 1;
    transform: translateY(0);
    // transition: opacity 0.15s linear, transform 0.15s linear;
}

.primary-menu ul::before,
.primary-menu ul::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
}

.primary-menu ul::before {
    height: 2rem;
    left: 0;
    right: 0;
}

.primary-menu ul::after {
    border: 0.8rem solid transparent;
    border-bottom-color: #000;
    right: 1.8rem;
}

.primary-menu ul a {
    background: transparent;
    border: none;
    color: inherit;
    display: block;
    padding: 1rem 2rem;
    transition: background-color 0.15s linear;
    width: 100%;
}

.primary-menu ul li.menu-item-has-children>a {
    padding-right: 4.5rem;
}

.primary-menu ul li.menu-item-has-children .icon {
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 0.5rem);
    color: var(--thm-primary);
}


/* DEEP DOWN */

.primary-menu ul ul {
    top: -1rem;
}

.primary-menu ul li.menu-item-has-children:hover>ul,
.primary-menu ul li.menu-item-has-children:focus>ul,
.primary-menu ul li.menu-item-has-children.focus>ul {
    right: calc(100% + 2rem);
}

.primary-menu ul ul::before {
    bottom: 0;
    height: auto;
    left: auto;
    right: -2rem;
    top: 0;
    width: 2rem;
}

.primary-menu ul ul::after {
    border-bottom-color: transparent;
    /*rtl:ignore*/
    border-left-color: #000;
    bottom: auto;
    right: -1.6rem;
    top: 0.8rem;
}

.rtl .primary-menu ul ul::after {
    transform: rotate(180deg);
}


/*
 * Enable nav submenu expansion with tapping on arrows on large-viewport
 * touch interfaces (e.g. tablets or laptops with touch screens).
 * These rules are supported by all browsers (>IE11) and when JS is disabled.
 */

@media (any-pointer: coarse) {
    .primary-menu>li.menu-item-has-children>a {
        padding-right: 0;
        margin-right: 2rem;
    }
    .primary-menu ul li.menu-item-has-children>a {
        margin-right: 4.5rem;
        padding-right: 0;
        width: unset;
    }
}


/* Repeat previous rules for IE11 (when JS enabled for polyfill). */

body.touch-enabled .primary-menu>li.menu-item-has-children>a {
    padding-right: 0;
    margin-right: 2rem;
}

body.touch-enabled .primary-menu ul li.menu-item-has-children>a {
    margin-right: 4.5rem;
    padding-right: 0;
    width: unset;
}


/* -------------------------------------------------------------------------- */


/*	5. Menu Modal
/* -------------------------------------------------------------------------- */

.menu-modal {
    background: #fff;
    display: none;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    left: -99999rem;
    right: 99999rem;
    top: 0;
    transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
    z-index: 99;
}

.admin-bar .menu-modal {
    top: 32px;
}

@media (max-width: 782px) {
    .admin-bar .menu-modal {
        top: 46px;
    }
}


/*.menu-modal.show-modal {
    display: flex;
}*/

.menu-modal.active {
    left: 0;
    opacity: 1;
    right: 0;
    transition: opacity 0.25s ease-out;
}

.menu-modal-inner {
    background: #fff;
    display: block;
    justify-content: stretch;
    overflow: auto;
    -ms-overflow-style: auto;
    width: 100%;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}


/*button.close-nav-toggle {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-end;
    padding: 3.1rem 0;
    width: 100%;
}*/


/*button.close-nav-toggle svg {
    height: 1.6rem;
    width: 1.6rem;
}*/

button.close-nav-toggle .toggle-text {
    margin-right: 1.6rem;
}

.menu-modal .menu-top {
    flex-shrink: 0;
}


/* Main Menu --------------------------------- */


/*.modal-menu {
    position: relative;
    left: calc(50% - 50vw);
    width: 100vw;
}*/


/*.modal-menu li {
    border-color: #dedfdf;
    border-style: solid;
    border-width: 0.1rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
}*/

.modal-menu>li>a,
.modal-menu>li>.ancestor-wrapper>a {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.0375em;
}

.modal-menu>li:last-child {
    border-bottom-width: 0.1rem;
}

.modal-menu .ancestor-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-menu a {
    display: block;
    padding: 2rem 2.5rem;
    text-decoration: none;
    width: 100%;
}


/*button.sub-menu-toggle {
    border-left: 0.1rem solid #dedfdf;
    flex-shrink: 0;
    margin: 1rem 0;
    padding: 0 2.5rem;
}*/


/*button.sub-menu-toggle svg {
    height: 0.9rem;
    transition: transform 0.15s linear;
    width: 1.5rem;
}*/

button.sub-menu-toggle.active {
    transform: rotate(0deg);
}

.modal-menu ul {
    display: none;
    margin: 0;
    width: 100%;
}

.modal-menu ul li {
    border-left-width: 1rem;
}

.modal-menu ul li a {
    color: inherit;
    font-weight: 500;
}


/*Shopping cart*/
.shopping-cart {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.shopping-cart .cart-icon {
    width: 50px;
    height: 50px;
    background: var(--thm-primary);
    text-align: center;
    line-height: 46px;
    color: aliceblue;
    z-index: 9;
    border-radius: 50%;
    border: 2px solid #383838;
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
	font-size:20px;
}
.shopping-cart .cart-total {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    font-size: 12px;
    background: var(--thm-primary);
    border-radius: 50%;
    padding: 7px;
    height: 30px;
    width: 30px;
    right: 20px;
    color: white;
    border: 2px solid #383838;
    z-index: 9;
}

@media (max-width: 820px ) {
    .modal-menu a {
        display: block;
        padding: .5rem .5rem;
        text-decoration: none;
        width: 100%;
    }
    .shopping-cart .cart-icon {
        line-height: 32px;
    }
}


/* Main menu animation ----------------------- */

.menu-wrapper .menu-item {
    position: relative;
}

.menu-wrapper .active {
    display: block;
}

.menu-wrapper.is-toggling {
    pointer-events: none;
}

.menu-wrapper.is-toggling .menu-item {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

.menu-wrapper.is-toggling .menu-bottom .social-menu .menu-item {
    width: auto;
}

.menu-wrapper.is-animating .menu-item,
.menu-wrapper.is-animating .toggling-target {
    transition-duration: 250ms;
}

.menu-wrapper.is-animating .menu-item {
    transition-property: transform;
}

.menu-wrapper.is-toggling .toggling-target {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.menu-wrapper.is-toggling .toggling-target.active {
    opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target {
    display: block;
    transition-property: opacity;
    opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target.active {
    opacity: 1;
}

.menu-wrapper.is-toggling .modal-menu>li:last-child li {
    border-top-color: transparent;
    border-bottom-width: 0.1rem;
}

@media (prefers-reduced-motion: reduce) {
    .menu-wrapper.is-animating .menu-item,
    .menu-wrapper.is-animating .toggling-target {
        transition-duration: 1ms !important;
    }
}


/* Expanded Menu ----------------------------- */

.expanded-menu {
    display: none;
}

.mobile-menu {
    display: block;
}


/* Menu Bottom ------------------------------- */

.menu-bottom {
    flex-shrink: 0;
    padding: 4rem 0;
}

.menu-bottom nav {
    width: 100%;
}

.menu-copyright {
    display: none;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}

.menu-copyright a:focus,
.menu-copyright a:hover {
    text-decoration: underline;
}

.menu-bottom .social-menu {
    justify-content: center;
}


/* -------------------------------------------------------------------------- */


/*	6. Search Modal
/* -------------------------------------------------------------------------- */

.search-modal {
    background: rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    position: relative;
    transition: opacity 0.2s linear, left 0s 0.2s linear;
    width: 100%;
    z-index: 999;
}

.admin-bar .search-modal.active {
    top: 32px;
}

@media (max-width: 782px) {
    .admin-bar .search-modal.active {
        top: 46px;
    }
}

.search-modal-inner {
    background: #fff;
    transform: translateY(-100%);
    transition: transform 0.15s linear, box-shadow 0.15s linear;
}

.search-modal-inner .section-inner {
    display: flex;
    justify-content: space-between;
    max-width: 168rem;
}

.search-modal.active {
    left: 0;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.search-modal.active .search-modal-inner {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
    transform: translateY(0);
    transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
}

button.search-untoggle {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 1.5rem;
}

.search-modal button.search-untoggle {
    outline: 0;
    color: white;
}

.search-modal.active .search-untoggle {
    animation: popIn both 0.3s 0.2s;
}

.search-untoggle svg {
    height: 1.5rem;
    transition: transform 0.15s ease-in-out;
    width: 1.5rem;
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
    transform: scale(1.15);
}


/* Modal Search Form ------------------------- */

.search-modal form {
    margin: 0;
    position: relative;
    width: 100%;
}

.search-form label {
    display: block;
}

.search-modal .search-field {
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
    font-size: 24px;
    height: 8.4rem;
}

.search-modal .search-field::-webkit-input-placeholder {
    color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
    color: inherit;
}

.search-modal .search-field::-moz-placeholder {
    color: inherit;
    line-height: 4;
}

.search-modal .search-submit {
    position: absolute;
    right: -9999rem;
    top: 50%;
    transform: translateY(-50%);
}

.search-modal .search-submit:focus {
    right: 0;
}


/* -------------------------------------------------------------------------- */


/*	7a. Template: Cover Template
/* -------------------------------------------------------------------------- */


/* To The Content ---------------------------- */


/* -------------------------------------------------------------------------- */


/*	7c. Template: Full Width
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*	8. Post: Archive
/* -------------------------------------------------------------------------- */


/* Archive Header ---------------------------- */


/* Posts ------------------------------------- */


/* Search Results ---------------------------- */


/* -------------------------------------------------------------------------- */


/*	9. Post: Single
/* -------------------------------------------------------------------------- */


/* Post Header ------------------------------- */


/* POST META */


/* Featured Media ---------------------------- */


/* Post Footer ------------------------------- */


/* POST NAV LINKS */


/* POST META BOTTOM */


/* Author Bio -------------------------------- */


/* Single Pagination ------------------------- */


/* -------------------------------------------------------------------------- */


/*	10. Blocks
/* -------------------------------------------------------------------------- */


/* Block Typography Classes ------------------ */


/* Block Font Families ----------------------- */


/* Block Font Sizes -------------------------- */


/* Block: Base Margins ----------------------- */


/* Block: Shared Nesting Alignment Resets ---- */


/* Block: Shared Widget Styles --------------- */


/* Block: Shared Media Styles ---------------- */


/* Block: Audio ------------------------------ */


/* Block: Button ----------------------------- */


/* Block: Columns ---------------------------- */


/* Block: Cover ------------------------------ */


/* Block: Embed ------------------------------ */


/* Block: File ------------------------------- */


/* Block: Gallery ---------------------------- */


/* Block: Group ------------------------------ */


/* Block: Image ------------------------------ */


/* Block: Media And Text --------------------- */


/* Block: Pullquote -------------------------- */


/* STYLE: DEFAULT */


/* Block: Separator  ------------------------- */


/* Block: Search ----------------------------- */


/* Block: Table ------------------------------ */


/* Block: Quote ------------------------------ */


/* STYLE: LARGE */


/* Block: Widget Latest Comments ------------- */


/* Block: Widget Latest Posts ---------------- */


/* -------------------------------------------------------------------------- */


/*	11. Entry Content
/* -------------------------------------------------------------------------- */


/* Font Families ----------------------------- */


/* Alignment Classes ------------------------- */


/* Entry Media ------------------------------- */


/* -------------------------------------------------------------------------- */


/*	12. Comments
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*	13. Site Pagination
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*	14. Error 404
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*	15.	Widgets
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*	16. Site Footer
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*	17. Media Queries
/* -------------------------------------------------------------------------- */

@media ( min-width: 700px) {
    /* Element Base ------------------------- */
    ul,
    ol {
        margin-bottom: 4rem;
    }
    pre {
        padding: 3rem;
    }
    /* hr {
        margin: 8rem auto;
    } */
    /* table {
        font-size: 1.8rem;
    } */
    .section-inner {
        width: calc(100% - 0rem);
    }
    /* Site Header --------------------------- */
    /*.header-inner {
        padding: 3.8rem 0;
    }*/
    .site-title {
        font-size: 2.4rem;
        font-weight: 700;
    }
    .site-description {
        display: block;
    }
    .site-logo img {
       /*  max-height: 9rem; */
        transition: height 0.15s linear, width 0.15s linear, max-height 0.15s linear;
    }
    /* HEADER TOGGLES */
    .toggle-inner .toggle-text {
        font-size: 1.2rem;
    }
    /*.search-toggle {
        left: 2rem;
    }*/
    .nav-toggle {
        right: 2rem;
    }
    /* Menu Modal ---------------------------- */
    /*button.close-nav-toggle {
        font-size: 1.8rem;
        padding: 4rem 0;
    }*/
    /*button.close-nav-toggle svg {
        height: 2rem;
        width: 2rem;
    }*/
    button.close-nav-toggle .toggle-text {
        margin-right: 2.1rem;
    }
    .modal-menu {
        left: auto;
        width: 100%;
    }
    .modal-menu>li>a,
    .modal-menu>li>.ancestor-wrapper>a {
        font-size: 2.4rem;
        padding: 2.5rem 0;
    }
    .modal-menu ul li {
        border-left-color: transparent;
    }
    /*.modal-menu>li>.ancestor-wrapper>button.sub-menu-toggle {
        padding: 0 3rem;
    }*/
    /*.modal-menu>li>.ancestor-wrapper>button.sub-menu-toggle svg {
        height: 1.1rem;
        width: 1.8rem;
    }*/
    .menu-bottom {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 4.4rem 0;
    }
    .menu-copyright {
        display: block;
        flex-shrink: 0;
        margin-right: 4rem;
    }
    /* Modal Search Form ------------------------- */
    .search-modal form {
        position: relative;
        width: 100%;
    }
    /*.search-untoggle svg {
        height: 2.5rem;
        width: 2.5rem;
    }*/
    .search-modal .search-field {
        border: none;
        height: 5rem;
        width: 100%;
        outline: 0;
        padding: 2rem;
    }
    .search-modal .search-field::-moz-placeholder {
        line-height: 4.375;
    }
    /* SEARCH RESULTS */
    .no-search-results-form {
        padding-top: 8rem;
    }
    .post-meta-wrapper.post-meta-single-bottom {
        margin-top: 4rem;
    }
}

@media ( min-width: 1000px) {
    /* Document Setup ------------------------ */
    /* Helper Classes ------------------------ */
    /* Site Header --------------------------- */
    /* #site-header {
		z-index: 2;
	} */
    .header-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        /*padding: 2.8rem 0;*/
        background: #0f0d1d;
    }
    .header-titles-wrapper {
        margin-right: 4rem;
        margin-left: 15px;
        max-width: 50%;
        padding: 0;
        text-align: left;
    }
    .header-titles {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 0 0 .75rem;
        flex-direction: column;
        /* margin-left: 30px; */
    }
    /*.header-titles .site-title,
    .header-titles .site-logo,
    .header-titles .site-description {
        margin: 1rem 0 0 2.4rem;
    }*/
    /* .wp-custom-logo .header-titles {
        align-items: center;
    } */
    /* HEADER NAVIGATION */
    .header-navigation-wrapper {
        align-items: center;
        display: flex;
    }
    .primary-menu-wrapper {
        display: block;
        width: 100%;
    }
    /* HEADER TOGGLES */
    .mobile-search-toggle,
    .mobile-nav-toggle {
        display: none !important;
    }
    .primary-menu-wrapper+.header-toggles {
        margin-left: 3rem;
    }
    .header-toggles {
        display: flex;
        flex-shrink: 0;
        margin-right: -3rem;
    }
    .header-inner .toggle {
        height: 4.4rem;
        padding: 0 3rem;
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        top: auto;
        width: auto;
    }
    .header-inner .toggle-wrapper {
        position: relative;
    }
    .header-inner .toggle-wrapper::before {
        background: #dedfdf;
        content: "";
        display: block;
        height: 2.7rem;
        position: absolute;
        left: 0;
        top: calc(50% - 1.35rem);
        width: 0.1rem;
    }
    .header-inner .toggle-wrapper:first-child::before {
        content: none;
    }
    .header-inner .primary-menu-wrapper+.header-toggles .toggle-wrapper:first-child::before {
        content: "";
    }
    .nav-toggle-wrapper:not(.has-expanded-menu) {
        display: none;
    }
    .toggle-inner {
        position: static;
    }
    .toggle-inner .toggle-text {
        left: 0;
        right: 0;
        text-align: center;
        top: calc(100% - 0.9rem);
        width: auto;
    }
    .header-toggles:only-child .nav-toggle .toggle-inner {
        padding-top: 0;
    }
    .header-toggles:only-child .toggle-inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .header-toggles:only-child .toggle-inner .svg-icon {
        order: 1;
    }
    .header-toggles:only-child .toggle-inner .toggle-text {
        position: static;
        padding-right: 20px;
        font-size: 15px;
        color: inherit;
    }
    /* Menu Modal ---------------------------- */
    .menu-modal {
        opacity: 1;
        justify-content: flex-end;
        padding: 0;
        transition: background-color 0.3s ease-in, left 0s 0.3s, right 0s 0.3s;
    }
    .menu-modal.cover-modal {
        background: rgba(0, 0, 0, 0);
    }
    .menu-modal.active {
        background: rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease-out;
    }
    .menu-wrapper.section-inner {
        width: calc(100% - 8rem);
    }
    .menu-modal-inner {
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        padding: 0;
        transform: translateX(20rem);
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
        width: 50rem;
    }
    .menu-modal.active .menu-modal-inner {
        opacity: 1;
        transform: translateX(0);
        transition-timing-function: ease-out;
    }
    .mobile-menu {
        display: none;
    }
    .expanded-menu {
        display: block;
    }
    .menu-bottom {
        padding: 6rem 0;
    }
    .menu-bottom .social-menu {
        justify-content: flex-start;
    }
}

@media ( min-width: 1220px) {
    /* Element Base -------------------------- */
    /* TITLES */
   /*  h1,
    .heading-size-1 {
        font-size: 6.4rem;
    } */
    /* Helper Classes ------------------------ */
    /* Site Header --------------------------- */
    /* PRIMARY MENU */
    /*ul.primary-menu {
        margin: -0.8rem 0 0 -2.5rem;
    }*/
    .primary-menu>li {
        margin: 0.8rem 0 0 2.5rem;
    }
    /* HEADER TOGGLES */
    .primary-menu-wrapper+.header-toggles {
        margin-left: 4rem;
    }
    .header-toggles {
        margin-right: 0rem;
    }
    .header-toggles .toggle {
        padding: 0 4rem;
    }
    /* Menu Modal ---------------------------- */
    /* Search Modal -------------------------- */
}