.ct-video-indicator {
	position: absolute;
	inset: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	// background: rgba(0, 0, 0, 0.1);
	transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955),
				visibility 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);

	svg {
		border-radius: 100%;
		transition: transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);

		&:hover {
			transform: scale3d(1.1, 1.1, 1);
		}
	}

	.ct-video-loader {
		visibility: hidden;
	}

	&.loading {
		svg {
			background: #fff;
		}

		.ct-video-loader {
			visibility: visible;
		}
	}
}

.ct-dynamic-media,
.ct-media-container {

	&:not([data-state='playing']) {
		.ct-pause-path {
			display: none;
		}
	}
}