.ct-share-box {
	display: flex;
	flex-direction: column;
	align-items: var(--horizontal-alignment);
}

// box location
.ct-share-box {

	&[data-location="top"] {
		margin-bottom: var(--margin, 50px);
	}

	&[data-location="bottom"] {
		margin-top: var(--margin, 50px);
		
		&:not(:last-child) {
			margin-bottom: var(--margin, 50px);
		}
	}
}

.hero-section[data-type="type-1"] {

	+ .ct-share-box[data-location="top"] {
		margin-top: var(--margin, 50px);
	}
}